body {
  padding-top: 40px;
  background : #faebd7;

}




/* Centered Logo Above */
.navbar.has-logo-above {
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


nav a:hover{
	border-bottom: 1.5px solid red;
	font-size: 1.2em;

}

img.scripimage{
  display: block;
  margin-left: auto;
  margin-right: auto; }