body {
  padding-top: 40px;

}



/* Centered Logo Above */
.navbar.has-logo-above {
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


nav a:hover{
	border-bottom: 1.5px solid red;
	font-size: 1.2em;

}
